
/* ========== SETUP FONT , CÁC MÀU CỐ ĐỊNH VÀ CÁC CSS MẶC ĐỊNH ========== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color : #0D6EFD;
    --primary-color-subtle : #75ADFF;
    --primary-color-light : #CFE2FF;

    --border-color : #DEE2E6;
    
    --title-color : #212529;
    --subtitle-color : #878787;
    --text-color : #444444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

@layer components {
    /* STYLE CHO SCREEN */
    .screen-container {

    }
    .screen-container-0py {
        @apply h-fit min-h-screen;
    }

    /* STYLE CHO CÁC NÚT */
    .custom-primary-btn {
        @apply px-4 py-2 rounded-md text-white bg-primary
        hover:bg-primary-hover;
    }
    .custom-primary-outline-btn {
        @apply px-4 py-2 rounded-md text-primary border border-primary
        hover:bg-primary hover:text-white;
    }

    /* Component cho trang Login, Register, Recovery */
    .form-input {
        @apply block w-full px-3 py-2 rounded-md outline outline-1 outline-border text-base text-text mb-4;
    }
    .form-input:focus {
        @apply outline-primary outline-2;
    }
    .form-label {
        @apply block text-base font-semibold text-text mb-1;
    }
    .divider {
        @apply w-full h-px bg-border my-4;
    }
}